body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

html {
  background-color: #f5f4f4;
}

a {
  text-decoration: none;
  color: black;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  transition: color 0.3s ease;
  color: black;
}

nav a:hover {
  color: #b6a39e;
}

nav a.active {
  color: #b6a39e;
}

form div {
  margin: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  background-color: #ededed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  font-weight: bold;
  height: 78px;
  /* padding-bottom: 5px; */
}

button {
  margin-top: 1em;
}

/* CLASSES */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.8);
  opacity: 0.6;
  display: block;
  z-index: 1001;
  transition: background-color 2s ease-in-out 1s;
}

.home-image {
  height: 360px;
  width: 360px;
}

.image-container {
  display: flex;
  height: 250px;
}

.container-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-row {
  display: flex;
}

.container-even-row {
  display: flex;
  justify-content: space-between;
}

.auth-container {
  width: 30em;
  padding: 20px;
  padding-top: 1px;
  border: 1px solid #ededed;
  margin-top: 30px;
}

.auth-container h2 {
  font-weight: normal;
}

.container-1 {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-top: 1.2em;
  margin-left: 4em;
}

.boxes {
  border: solid black 1px;
}

.center-self {
  align-self: center;
}

.container-2 {
  display: flex;
  flex-direction: row;
  margin-top: 0.7em;
  /* margin-top: .5em;
  margin-left: 3.8em; */
  height: 6em;
  width: 86%;
  padding: 1em;
  background-color: white;
  transition: box-shadow 0.3s ease;
  /* border: solid black 1px; */
}

.container-2:hover {
  box-shadow: 0px 0px 2px 0px;
}

.container-2-img {
  /* saying max width is 100% of container. Important rule! Height auto adjusts to width*/
  display: flex;
  max-height: 100%;
  width: 20%;
}

.container-2-img img {
  margin: auto; /* After you set height or width (em) this will preserve the aspect ratio */
  max-height: 100%;
  width: 6em;
}

.container-2a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart-title {
  font-weight: bold;
}

.container-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2em;
}

.container-5 {
  display: flex;
}

.container-6 {
  display: flex;
  /* flex-direction: column; */
  padding-left: 0.2em;
  width: 20%;
}

.container-7 {
  display: flex;
}

.container-8 {
  width: 55%;
  height: 10em;
  padding-top: 0;
  margin-top: 1.5em;
  margin-right: 4em;
  font-size: larger;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: sticky;
  top: 0;
  transition: box-shadow 0.3s ease;
}

.container-8:hover {
  box-shadow: 0px 0px 2px 0px;
}

.container-9 {
  display: flex;
  justify-content: center;
  background-color: #0e6252;
  color: white;
  margin-bottom: 2em;
  padding-left: 0;
  padding-right: 0;
}

.container-8 h3 {
  margin-block-start: 0;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  /* margin-block-end: 0; */
}

.container-10 {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
}

.container-11 {
  display: flex;
  flex-direction: column;
}

.padding {
  padding-bottom: 0.5em;
}

.checkout {
  font-weight: bold;
}

.plus {
  background-color: rgb(11, 192, 11);
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 50%;
  cursor: pointer;
}

.minus {
  background-color: rgb(230, 75, 75);
  padding-left: 0em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 50%;
  cursor: pointer;
}

.container-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  font-weight: 500;
}

.line-item {
  margin-bottom: 0.4em;
}

.singleItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 11%;
  border: 1px solid #ededed;
  background-color: white;
  align-items: center;
  height: auto;
  font-size: 16px;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 3em;
}

.singleItem img {
  width: 90%;
  height: auto;
}

.singleItem h2 {
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 1em;
}

.container-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5em;
}

.container-4 h3 {
  margin-block-start: 0;
  margin-block-end: 0.2em;
}

.container-4a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.container-4a a {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
  font-size: small;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  /* margin-left: 1em; */
}
.form-container input {
  width: 25em;
}

.left-nav {
  display: flex;
  align-items: center;
  max-height: 100%;
  width: 50%;
}

.left-nav a {
  max-height: 100px;
}

.right-nav {
  display: flex;
  align-items: center;
}

.right-nav a {
  margin-right: 1em;
}

.error-message {
  color: red;
}

.MuiMenu-list {
  outline: 0;
}

.MuiMenu-list hr {
  opacity: 0.1;
}

.MuiMenu-paper {
  border-radius: 1px;
  background-color: black;
}

.MuiMenu-list a {
  display: flex;
}

.searchbar {
  height: 40px;
  /* width: 200px; */
  display: flex;
  align-items: center;
  /* padding-right: 20px; */
}

.pagination {
  display: flex;
  align-items: flex-end;
}

.pagination a {
  float: none;
  padding: 8px 16px;
}

.pagination a.active {
  background-color: #4caf50;
}

.pagination a:hover:not(.active) {
  background-color: #4caf50;
}

/* .MuiDrawer-paperAnchorLeft {
  background-color: #7cb4b8 #9ed2d4 !important;
} */

/* DRAWER COLORS */
.MuiDrawer-paperAnchorLeft {
  background-color: #f7f4ea !important;
}

/* .MuiListItem-button {
  color: white !important;
} */

.ricks-color {
  background-color: #0e6252;
  height: 160px;
  border-bottom: solid 1px black;
  border-top: solid 1px black;
}

.ricks-color img {
  height: 100%;
}

/* SINGLE ITEM VIEW CSS */
.single-item-page {
  display: flex;
  flex-direction: column;
  padding-right: 7.5em;
  padding-left: 7.5em;
}

.single-item-image {
  align-items: flex-end;
  display: flex;
  padding-left: 3em;
  padding-top: 4em;
}

.single-item-image img {
  width: 90%;
  margin: auto;
  height: auto;
}

.single-item-page-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5em;
  padding-bottom: 16em;
}

.description {
  align-items: flex-start;
  margin-left: 50px;
  width: 50%;
  max-width: 35em;
}

.description p.title {
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 26.4px;
  margin-bottom: 0.5em;
}

.description p.price {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
}

.description p.d {
  font-family: 'Amazon Ember', Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  margin-bottom: 0.3em;
  margin-top: 3em;
}

.description p.description-text {
  font-family: 'Amazon Ember', Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  margin-bottom: 0.3em;
  line-height: 19px;
}

.description hr {
  width: 100%;
}

.description .MuiSelect-select.MuiSelect-select {
  width: 7em;
}

.description .MuiInput-root {
  margin-right: 1em;
}

.price-quant {
  width: 100%;
}

/* IDs */
#items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #f9f9f9;
}

#items .singleItem {
  font-size: 16px;
  text-align: center;
  align-content: center;
  padding: 50px;
  padding: 47px;
  margin: 10px;
  transition: box-shadow 0.3s ease;
}

#items .singleItem:hover {
  box-shadow: 0px 0px 2px 0px;
}

/* #items button {
  background: #ceb14b;
  border-radius: 2px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
} */

#items img {
  display: block;
  margin: auto;
  max-width: 100%;
}

#item-list {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
#single-item-container {
  display: flex;
  align-items: center;
}

#logo {
  max-width: 100%;
  max-height: 50px;
  display: block;
  transition: filter 0.4s ease;
}

#logo:hover {
  filter: grayscale(90%);
}

#search-icon {
  padding: 15px;
}

#delete-icon {
  cursor: pointer;
  height: 20px;
  padding-right: 1em;
}

#plus-minus-icons {
  cursor: pointer;
  height: 0.8em;
}

#order-placed-icon {
  height: 3.5em;
  width: 3.5em;
  padding: 1em;
  color: green;
}

#oval {
  position: absolute;
  right: 20px;
  color: white;
  border-radius: 10px;
  font-size: small;
  background-color: #dc0073;
  height: 18px;
  width: 18px;
  text-align: center;
}

#no-items {
  margin-top: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: x-large;
}
#empty-cart-icon {
  height: 2em;
  width: 2em;
  padding-bottom: 1em;
}
.pointer {
  cursor: pointer;
}
