body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: flex;
  justify-content: space-between;
}

/* CLASSES */
.home-image {
  height: 360px;
  width: 360px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1em;
  margin-left: 1em;
}

.form-container input {
  width: 25em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  box-shadow: 0px 0px 1px 0.2px; /* offset x, offset y, blur, spread */
  border-radius: 5px;
}

#items {
  display: flex;
  flex-flow: row wrap;
}

#items .singleItem {
  font-size: 16px;
  text-align: center;
  align-content: center;
  padding: 50px;
}

#items button {
  background: #ceb14b;
  font-size: 16px;
}

#items img {
  width: 200px;
  display: block;
  margin: auto;
}

button {
  margin-top: 1em;
}
